{% load sqrl %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


{% sqrl as sqrl %}
<p>
    <a href="{{ sqrl.url }}">
        <img src="{% sqrl_qr_image_url sqrl %}">
    </a>
    <br>
    {{ sqrl.url }}
</p>


{% if user.is_authenticated %}
    <p>
        You are logged in as {{ user.username }}. <a href="{% url 'logout' %}">Logout</a>.
    </p>
{% endif %}

{% if sqrl_identity %}
    <p>
        You need to complete registration
        <a href="{% url 'sqrl-complete-registration' %}">here</a>.
    </p>
{% endif %}


</body>
</html>
