{% extends "sqrl/sqrl_base.html" %}
{% load sqrl %}
{% load static %}

{% block title %}Log in via SQRL{% endblock %}

{% block content %}
    <h1>Log in</h1>

    <p>
        Please use via SQRL using the information below.
    </p>

    {% sqrl as sqrl %}
    <form method="get" action="{{ sqrl.sqrl_url }}">
        <p>
            {% sqrl_status_url_script_tag sqrl %}
            <a href="{{ sqrl.sqrl_url }}">
                <img src="{% sqrl_qr_image_url sqrl %}">
            </a>
        </p>
        <input type="hidden" name="nut" value="{{ sqrl.nut.nonce }}">
        <input type="submit" value="Log in using SQRL">
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'sqrl/sqrl.js' %}"></script>
{% endblock %}

{% comment %}
**sqrl/login.html**
This is SQRL-only login page.
No special variables are passed in the context for the login to work.
All necessary data should already be in the context.

Please note again that this template is for SQRL-exclusive logins.
If you would like to add SQRL login to an existing login page,
you should rather adjust that template as it is probably way more involved.
{% endcomment %}
